nav {
    background-color: #666;
    color: #fff;
    height: 3vw;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 10px;
        li {
            list-style: none;
            margin-top: 3px;
            a {
                color: #fff;
                text-decoration: none;
                padding: 10px;
                &:hover {
                    background-color: #333;
                    border-radius: 5px;
                }
            }
        }
    }
}


nav ul li.active a,
nav ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

/* Main Content Styles */
main {
    margin: 20px;
}

h1 {
    color: #333;
    font-size: 36px;
}

p {
    color: #666;
    font-size: 18px;
}

/* account btn */
.account {
    display: flex;
    justify-content: right;
    position: relative;
  }

.account-icon {
    font-size: 2rem;
    cursor: pointer;
}

.account-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
        i {
            margin-right: 10px;
        }
    }

}

//!  filter

#filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding: 20px;
    height: 25vh;
    width: 10vw;
    grid-column-start: 1;
    margin-top: 20px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
        width: 8vw;
        height: 5vh;
        background-color: #e4e4e4;
        &:hover {
            background-color: #d4d4d4;
        }
    }
}
